@{
    ViewData["Title"] = "Change";
}

<!DOCTYPE html>
<html lang="en">


<body>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Project</h2>
          <p>In our Banking Management System, you'll find </p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Dynamic Fund Transfers</h3>
              <p>Bringing more convenience to the end customers, PFH enables the member banks to offer ‘Inter Bank Funds Transfer’.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Chequebook Request</h3>
              <p>Requesting chequebooks online and entering your nearest Prime Financial Holding's branch to pick it up with no wait</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Easy Loan Applications</h3>
              <p>Get loans online with the best and most flexible policies to fulfill your dreams. Apply for seven major loans today & get the financial assistance on loan acception</p>

            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Simplistic transaction viewing</h3>
              <p>Keep track of your money by having all your transactions in one place!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Feedback Providance</h3>
              <p>Customer satisfaction is our top priority. Your opinion is highly valuable to us</p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Easy Bill Payment</h3>
              <p>Pay all your bills from the comfort of your home</p>
              
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/vendor/purecounter/purecounter.js"></script>
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/mainnn.js"></script>

</body>

</html>