<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/mainTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
   
    <link rel="stylesheet" href="~/css/style2.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/util.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loanmain.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>

        <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="logo.png" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">Sara Qayyum</span>
                    <span class="profession">Current Account</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>


        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Transaction" asp-action="Index">Dashboard</a>
                    </li>

                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Account" asp-action="Loan">Loan</a>
                    </li>

                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Bill" asp-action="Index">Bills</a>
                    </li>

                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Transfer" asp-action="Index">Transfer</a>
                    </li>

                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Account" asp-action="Cheque">Chequebook</a>
                    </li>
                    
                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Feedback" asp-action="Feedback">Feedback</a>
                       
                    </li>

                    <li class="nav-link">
                            <a class="text nav-text" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                       
                    </li>

                </ul>
            </div>

            <div class="bottom-content">

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>       
    </header>
</nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/mainn.js" asp-append-version="true"></script>
    <script src="~/js/popper.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="~/js/mainnn.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>